* {
    border-style: dotted;
}

.right {
    float: right;
}

.left {
    float: left;
}

.letters {
    background-color: linen;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
}
.clear {
    background-color: green;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}
