* {
    border-style: dotted;
}

.right {
    float: right;
}

.left {
    float: left;
}

.letters {
    background-color: linen;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;
    height: 60px;
    width: 60px;
    display: table-cell;
}
.clear {
    background-color: green;
    font-size: 50px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}
#picture {
    display: block;
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;
}
}
