* {
    border-style: none;
}
.letters {
    background-color: linen;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;
    height: 60px;
    width: 60px;
    display: table-cell;
}
.clear {
    background-color: lightgreen;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;
    height: 60px;
    width: 330px;
    display: table-cell;
}
#textbox {
    background-color: lightblue;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    padding: 10px;
    height: 60px;
    width:500px;
    display: table-cell;
}
#picturebox {
    width: 500px;
    height 420px;
}
#picture {
    display: block;
    max-width:500px;
    max-height:400px;
    width: auto;
    height: auto;
}
